<h1>Fudo</h1>
<h3>Sign Up</h3>
<form method="POST" action="/registrations">
  <div class="input-field">
    <input id="first" name="first" required />
    <label class="active" for="first">First Name</label>
  </div>
  <div class="input-field">
    <input id="last" name="last" required />
    <label class="active" for="last">Last Name</label>
  </div>
  <div >
    <input id="email" name="email" required />
    <label class="active" for="email">Email</label>
  </div>
  <div>
    <input  id="password" name="password" required />
    <label class="active" for="password">password</label>
  </div>
  <button>Register</button>
</form>