<h1>New User</h1>
<form method="POST" action="/registrations">
  <div>
    <input id="username" name="username" required />
    <label class="active" for="username">username</label>
  </div>
  <div >
    <input id="email" name="email" required />
    <label class="active" for="email">Email</label>
  </div>
  <div>
    <input  id="password" name="password" required />
    <label class="active" for="password">password</label>
  </div>
  <button>Register</button>
</form>