<center class='home'>
  <img src="/Fudo_logoful.png" width='200px'>
  <h4>Please sign up or log in to access the Fudo Network</h4>
  <div>

    <div class='sign'>
      <a href="/sessions/login">Sign In</a>

    </div>
    <div class='sign'>

      <a href="/registrations/signup" >Sign Up</a>
    </div>

  </div>



</center>