<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/users/home"><img src="/Fudo_logow.png" width='50px'></a>
  <div class='nav'>
    <a class="signn" href="/users/home">Feed</a>
    <a class="signn" href="/users/profile">Profile</a> 
    <a class="signn" href="/users/profile/new">New post</a>
    <a class="signn" href="/sessions/logout">Sign Out</a>  
  </div>
</nav>