/* CSS RESET ^ */

body {
  background-image: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
  height: 800px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

.contain {
  display: flex;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
}

.home {
  margin-top: 200px;
}

.sign {
  background-color: white;
  color: #0051ba;
  border-radius: 10px 0 10px 0;
  padding: 10px 25px;
  width: 75px;
  display: inline-block;
  margin: 10px;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
}

.signn {
  background-color: white;
  color: #0051ba;
  border-radius: 10px 0 10px 0;
  padding: 5px 10px;
  width: 45px;
  display: inline-block;
  margin: 5px;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #005bea;
}