<h1 class="center">Sign In</h1>
<form method="POST" action="/sessions">
  <div>
    <input  id="email" name="email" required />
    <label class="active" for="email">Email</label>
  </div>
  <div >
    <input id="password" name="password" required />
    <label class="active" for="password">password</label>
  </div>
  <button>Sign In</button>
</form>