
<%= erb :navbar %>
<h1>Fudo</h1>
  <div>
    <% @allItems.each do |item| %>
        <div>
    
          <div>
            <img src="<%= item.image %>" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= item.title %></h4>
            <p class="card-text">
              <%= item.description %>
            </p>
          </div>
        </div>
        <% end %>
      </div>