<h1 >Create new item</h1>
<form method="POST" action="/users/items">
  <div>
    <input id="title" name="title" require /></input>
    <label  for="title">Title</label>
    <input id="image" name="image" require /></input>
    <label  for="image">Image URL</label>
  </div>
  <div >
    <textarea  id="desc" required name="description"></textarea>
    <label for="desc" >Description</label>
  </div>
  <button type="submit">submit</button>
</form>
